<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.payu.modules.mapper.LoanDocumentMapper">
    <resultMap id="BaseResultMap" type="cn.com.payu.modules.entity.LoanDocument">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="loan_id" jdbcType="BIGINT" property="loanId"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <!--        <result column="id_card_front" jdbcType="VARCHAR" property="idCardFront"/>-->
        <!--        <result column="id_card_back" jdbcType="VARCHAR" property="idCardBack"/>-->
        <!--        <result column="credit_report" jdbcType="VARCHAR" property="creditReport"/>-->
        <!--        <result column="income_proof" jdbcType="VARCHAR" property="incomeProof"/>-->
        <!--        <result column="address_proof" jdbcType="VARCHAR" property="addressProof"/>-->
        <!--        <result column="assist_material" jdbcType="VARCHAR" property="assistMaterial"/>-->
        <!--        <result column="apply_material" jdbcType="VARCHAR" property="applyMaterial"/>-->
        <!--        <result column="sign_video" jdbcType="VARCHAR" property="signVideo"/>-->
        <result column="enable_status" jdbcType="INTEGER" property="enableStatus"/>
        <result column="del_flag" jdbcType="INTEGER" property="delFlag"/>
        <result column="created_date" jdbcType="TIMESTAMP" property="createdDate"/>
        <result column="created_by" jdbcType="INTEGER" property="createdBy"/>
        <result column="updated_date" jdbcType="TIMESTAMP" property="updatedDate"/>
        <result column="updated_by" jdbcType="INTEGER" property="updatedBy"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        id, loan_id,
        type, name, url,
        -- id_card_front, id_card_back, credit_report, income_proof, address_proof,assist_material, apply_material,sign_video,
        enable_status, del_flag, created_date,created_by, updated_date, updated_by
    </sql>

    <select id="selectAllByLoanId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from d_loan_document
        where del_flag = 0
        and loan_id = #{loanId}
    </select>

    <select id="selectByLoanIdAndType" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from d_loan_document
        where del_flag = 0
        and loan_id = #{loanId}
        and type = #{type}
    </select>
</mapper>