<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.payu.modules.mapper.LoanPlansMapper">
    <resultMap id="BaseResultMap" type="cn.com.payu.modules.entity.LoanPlans">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="loan_id" jdbcType="BIGINT" property="loanId"/>
        <result column="o_id" jdbcType="VARCHAR" property="outerId"/>
        <result column="plan_periods_order" jdbcType="INTEGER" property="planPeriodsOrder"/>
        <result column="plan_repay_time" jdbcType="DATE" property="planRepayTime"/>
        <result column="plan_repay_principal" jdbcType="DECIMAL" property="planRepayPrincipal"/>
        <result column="plan_repay_total" jdbcType="DECIMAL" property="planRepayTotal"/>
        <result column="plan_remain_principal" jdbcType="DECIMAL" property="planRemainPrincipal"/>
        <result column="plan_status" jdbcType="INTEGER" property="planStatus"/>
        <result column="enable_status" jdbcType="INTEGER" property="enableStatus"/>
        <result column="del_flag" jdbcType="INTEGER" property="delFlag"/>
        <result column="created_date" jdbcType="TIMESTAMP" property="createdDate"/>
        <result column="created_by" jdbcType="INTEGER" property="createdBy"/>
        <result column="updated_date" jdbcType="TIMESTAMP" property="updatedDate"/>
        <result column="updated_by" jdbcType="INTEGER" property="updatedBy"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        id, loan_id, o_id, plan_periods_order, plan_repay_time, plan_repay_principal, plan_repay_total,
        plan_remain_principal, plan_status, enable_status, del_flag, created_date, created_by,
        updated_date, updated_by
    </sql>
</mapper>