<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.payu.modules.mapper.LoanAddressMapper">
  <resultMap id="BaseResultMap" type="cn.com.payu.modules.entity.LoanAddress">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="loan_id" jdbcType="BIGINT" property="loanId" />
    <result column="together_dwell" jdbcType="INTEGER" property="togetherDwell" />
    <result column="housing_type" jdbcType="INTEGER" property="housingType" />
    <result column="live_date" jdbcType="TIMESTAMP" property="liveDate" />
    <result column="month_rent" jdbcType="REAL" property="monthRent" />
    <result column="present_province" jdbcType="VARCHAR" property="presentProvince" />
    <result column="present_city" jdbcType="VARCHAR" property="presentCity" />
    <result column="present_region" jdbcType="VARCHAR" property="presentRegion" />
    <result column="present_address" jdbcType="VARCHAR" property="presentAddress" />
    <result column="enable_status" jdbcType="INTEGER" property="enableStatus" />
    <result column="del_flag" jdbcType="INTEGER" property="delFlag" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="created_by" jdbcType="INTEGER" property="createdBy" />
    <result column="updated_date" jdbcType="TIMESTAMP" property="updatedDate" />
    <result column="updated_by" jdbcType="INTEGER" property="updatedBy" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, loan_id, together_dwell, housing_type, live_date, month_rent, present_province, 
    present_city, present_region, present_address, enable_status, del_flag, created_date, 
    created_by, updated_date, updated_by
  </sql>
</mapper>