<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.payu.modules.mapper.LoanProvidentFundMapper">
  <resultMap id="BaseResultMap" type="cn.com.payu.modules.entity.LoanProvidentFund">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="loan_id" jdbcType="BIGINT" property="loanId" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="enable_status" jdbcType="INTEGER" property="enableStatus" />
    <result column="del_flag" jdbcType="INTEGER" property="delFlag" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="created_by" jdbcType="INTEGER" property="createdBy" />
    <result column="updated_date" jdbcType="TIMESTAMP" property="updatedDate" />
    <result column="updated_by" jdbcType="INTEGER" property="updatedBy" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, loan_id, account, `password`, enable_status, del_flag, created_date, created_by, 
    updated_date, updated_by
  </sql>
</mapper>