<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.payu.modules.mapper.SalesmanMapper">
    <resultMap id="BaseResultMap" type="cn.com.payu.modules.entity.Salesman">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="s_no" jdbcType="VARCHAR" property="jobNo"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="prov_code" jdbcType="VARCHAR" property="provCode"/>
        <result column="city_code" jdbcType="VARCHAR" property="cityCode"/>
        <result column="area_code" jdbcType="VARCHAR" property="areaCode"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="enable_status" jdbcType="INTEGER" property="enableStatus"/>
        <result column="del_flag" jdbcType="INTEGER" property="delFlag"/>
        <result column="created_date" jdbcType="TIMESTAMP" property="createdDate"/>
        <result column="created_by" jdbcType="INTEGER" property="createdBy"/>
        <result column="updated_date" jdbcType="TIMESTAMP" property="updatedDate"/>
        <result column="updated_by" jdbcType="INTEGER" property="updatedBy"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        id, `name`, s_no, phone, prov_code, city_code, area_code, address, enable_status,
        del_flag, created_date, created_by, updated_date, updated_by
    </sql>

    <select id="search" resultType="cn.com.payu.modules.model.SalesmanModel">
        select
        id, `name`, s_no jobNo, phone, prov_code provCode, city_code cityCode, area_code areaCode, address,
        enable_status enableStatus,created_date createdDate
        from d_salesman ds
        where ds.del_flag = 0
        <if test="name != null and name != ''">
            and name = #{name}
        </if>
        <if test="sDate != null and sDate != '' and eDate != null and eDate != ''">
            and DATE_FORMAT(created_date, '%Y-%m-%d') &gt;= #{sDate}
            and DATE_FORMAT(created_date, '%Y-%m-%d') &lt;= #{eDate}
        </if>
    </select>

    <select id="export" resultType="cn.com.payu.modules.model.export.SalesmanExport">
        select
        ds.id, ds.name, s_no jobNo, phone, bp.name prov, bc.name city, ba.name area, address,
        ds.enable_status enableStatus,ds.created_date createdDate
        from d_salesman ds
        left join base_provinces bp on ds.prov_code = bp.code
        left join base_cities bc on ds.city_code = bc.code
        left join base_areas ba on ds.area_code = ba.code
        where ds.del_flag = 0
        <if test="name != null and name != ''">
            and ds.name = #{name}
        </if>
        <if test="sDate != null and sDate != '' and eDate != null and eDate != ''">
            and DATE_FORMAT(ds.created_date, '%Y-%m-%d') &gt;= #{sDate}
            and DATE_FORMAT(ds.created_date, '%Y-%m-%d') &lt;= #{eDate}
        </if>
    </select>

    <select id="selectById" resultType="cn.com.payu.modules.model.SalesmanModel">
        select
        id, `name`, s_no jobNo, phone, prov_code provCode, city_code cityCode, area_code areaCode, address,
        enable_status enableStatus,created_date createdDate
        from d_salesman ds
        where ds.del_flag = 0
        and ds.id = #{id}
    </select>

    <select id="selectByJobNo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from d_salesman
        where del_flag = 0
        and s_no = #{jobNo}
    </select>

    <update id="enableById" parameterType="java.lang.Integer">
        update d_salesman set enable_status = 1 where id = #{id}
    </update>

    <update id="disableById" parameterType="java.lang.Integer">
        update d_salesman set enable_status = 2 where id = #{id}
    </update>

    <update id="logicDeleteById" parameterType="java.lang.Integer">
        update d_salesman set del_flag = -1 where id = #{id}
    </update>
</mapper>